/* == Start hero section == */ 

.hero-section
{
    background-image: url(../images/heroImage.jpg);
    background-size:cover;
    display: flex;
    align-items: center;
}


.content 
{
    margin-left: 9rem;
}


.search-input::placeholder
{
    color: #5e5e5e;
}
.h-btn:hover 
{
    color: rgb(0, 125, 0);
    transition: all .7s;
}

/* == Animation classes == */

.show
{
    opacity: 1;
}

.hidden 
{
    opacity: 0;
    transition: all 1s;
}


/* == Styling categories == */

.categories
{
    height: 70vh;
}
.categories .categories-list  img 
{
    width: 9rem;
    height: 11rem;
}