<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="./assets/css/style.css"></link>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/28113ccba1.js" crossorigin="anonymous"></script>
</head>
<body>




    

    <nav class="navbar">

        <!-- First section of navbar -->
        <div class="F-navbar bg-green-900 container mx-auto px-12 flex justify-between">
            
            <div class="phone">
                <i class="fa-sharp fa-solid fa-phone text-white"></i>
                <span class="text-white font-mono">+212 77134-9156</span>
            </div>

            <div class="announce text-white">Get 50% of your first product</div>

            <div class="options text-white"><span><a>change theme</a></span> | <span><a>languages</a></span></div>
            
        </div>

        <!-- Second section of navbar -->

        <div class="S-navbar flex">

            <div class="logo">Logo</div>

            <div class="list flex">
                <ul>
                    <li>Categories</li>
                    <li>Deals</li>
                    <li>What's new</li>
                </ul>
            </div>

            <div class="search flex">
                <input type="text" />
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>

            <div class="features flex">

                <div class="account flex">
                    <i class="fa-solid fa-user"></i>
                    <span>Account</span>
                </div>

                <div class="cart flex">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>Cart</span>
                </div>
            </div>

        </div>

    </nav>



    <!-- Link javascript files -->    
    <script src="./assets/javascript/script.js"></script>
</body>
</html>