<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="./assets/css/styles.css"></link>
    <link rel="stylesheet" href="./assets/css/tailwind.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/28113ccba1.js" crossorigin="anonymous"></script>
</head>
<body>




    

    <nav class="navbar font-mono">

        <!-- First section of navbar -->
        <div class="F-navbar bg-green-900 container mx-auto px-12 flex justify-between">
            
            <div class="phone">
                <i class="fa-sharp fa-solid fa-phone text-white"></i>
                <span class="text-white">+212 77134-9156</span>
            </div>

            <div class="announce text-white">Get 50% of your first product</div>

            <div class="options text-white"><span><a>change theme</a></span> | <span><a>languages</a></span></div>
            
        </div>

        <!-- Second section of navbar -->

        <div class="S-navbar h-16 flex justify-around items-center">

            <div class="logo">ShopCart</div>

            <div class="list w-72">

                <ul class="flex justify-between">
                    <select class="cursor-pointer bg-inherit " >
                        <option value="">Categories</option>
                        <option value="">Computers</option>
                        <option value="">Phones</option>
                        <option value="">Tablets</option>
                    </select>
                    <li class="cursor-pointer">Deals</li>
                    <li class="cursor-pointer">What's new</li>
                </ul>

            </div>

            <div class="search relative ">
                <input type="text" class="search-input rounded-full w-64 h-8 text-center bg-gray-200" placeholder="Search product" id="searchInput"/>
                <i class="fa-solid fa-magnifying-glass absolute right-px top-2"></i>
            </div> 

            <div class="features flex justify-between">

                <div class="account flex mx-4 cursor-pointer">
                    <i class="fa-solid fa-user"></i>
                    <span>Account</span>
                </div>

                <div class="cart flex cursor-pointer">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>Cart</span>
                </div>
            </div>

        </div>

    </nav>

    <!-- Start hero section -->

    <header class="hero-section" style="height: 90vh;">
        
        <div class="content flex flex-col flex-wrap w-96 absolute">
            <h2 class="text-white text-5xl font-mon mb-12">Electro maroc for <span class="text-green-200">Electronic</span> products</h2>
            <p class="mb-12">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse, voluptas harum! Soluta est qui doloribus temporibus officiis, libero odit expedita culpa veniam hic architecto minus</p>
            <button class="font-mon flex flex-start " style="border: 1px solid ;">Learn more</button>
        </div>
        
    </header>



    <!-- Link javascript files -->    
    <script src="./assets/javascript/script.js"></script>
</body>
</html>